/*Caption*/

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-ExtraLight.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Light.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Semibold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Caption';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Black.woff2') format('woff2');
}


/*SmText*/

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-ExtraLight.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Light.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Semibold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif SmText';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Black.woff2') format('woff2');
}


/*Text*/

@font-face{
    font-family: 'Source Serif';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-ExtraLight.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Light.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Semibold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Black.woff2') format('woff2');
}


/*Subhead*/

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-ExtraLight.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Light.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Semibold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Subhead';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Black.woff2') format('woff2');
}


/*Display*/

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-ExtraLight.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Light.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Regular.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Semibold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Bold.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif Display';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Black.woff2') format('woff2');
}

